.md-header__button.md-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 3.0rem;
  width: 3.0rem;
}

.medium-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: 0 0 2px black;
}

.small-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.pique-logo {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}